@tailwind base;
@tailwind components;
@tailwind utilities;

.keyboard-container {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.keyboard {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

.key {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.key:hover {
  background-color: #f0f0f0;
}

.key.pressed {
  transform: scale(1.2);
  background-color: #f0f0f0;

}
